{% load static %}

<html>
    <head>
        <title> Django Blog</title>
        <link href=" https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+Novo Post</a>
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Bem vindo {{ user.username }} !</p>
            <p><a href="{% url 'logout' %}">Sair</a></p>
        {% else %}
            <p>Você não está logado.</p>
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
        <div>
            {% block content%}

            {% endblock content %}
        </div>
    </body>
</html>